<h1>Last Drawn Number: [% last_drawn_number %]</h1>
<p>All Numbers</p>
[% count = 1 %]
<table border="1">
  [% FOREACH num IN draw_number_model.all_numbers -%]
  [% IF count == 1 %]<tr>[% END -%]
  <td><h2><font color="[% IF draw_number_model.is_drawn_number("$num") %]black[% ELSE %]red[% END %]">[% num %]</font></h2></td>
[% IF count == 10 %]</tr>[% count = 0 %][% END %][% count = count + 1 %][% END %]</tr>
</table>
