<p>Location = [% location %]<br />
Game     = [% game_id %]</p>

<form name="start_game" method=POST action="game_start">
  <input type="hidden" value="[% game_id %]" name="game_id" />
  <input type="submit" value="Eyes Down For Line" />
</form>
<form name="start_game" method=POST action="game_start">
  <input type="hidden" value="1" name="line_drawn" />
  <input type="hidden" value="[% game_id %]" name="game_id" />
  <input type="submit" value="Eyes Down For House Only" />
</form>
